<section id="work-experience">
	<div class="container">
		<h1>My Experience</h1>

		<div class="timeline">
			<ul>
				<li *ngFor="let company of experience">
					<div class="content">
						<h3>{{company.CompanyName}}</h3>
						<ul *ngFor="let responsibility of company.responsibilities">
							<p>{{responsibility}}</p>
						</ul>
					</div>
					<div class="time">
						<strong>{{company.designation}}</strong><br>
						{{company.joiningDate | date}}-{{company.leavingDate}}
					</div>
				</li>
				<div style="clear:both"></div>
			</ul>
		</div>
	</div>
</section>