<div class="section-inner">
	<div class="row justify-content-center">
		<div class="col-md-8 wide-col-laptop">
			<div class="title-block animate">
				<span>Experiance</span>
				<h2>What I Do?</h2>
			</div>
			<div class="experiance-section">
				<div class="services-list owl-carousel">
					<div class="item animate">
						<div class="service-box">
							<h3>Software Engineer</h3>
							<p>Zycus Infotech</p>
							<p><span>04/2022 - Present</span><span>Bangalore</span></p>
							<h5>Provider of Source-To-Pay Procurement Software Solutions</h5>
							<ul>
								Achievemnt/Task
								<li>
									=>Designed, built, and maintained efficient, reusable , and
									reliable code to meet business process and application
									requirements.
								</li>
								<li>
									=>Reviewed code and assessed the impact of submitted changes.
								</li>
								<li>=>Triggering and deploying build Using Goc'd</li>
							</ul>
						</div>
					</div>

					<div class="item animate">
						<div class="service-box">
							<h3>Associate Software Engineer</h3>
							<p>Zycus Infotech</p>
							<span>07/2021 - 03/2022</span><span>Bangalore</span>
							<h5>Provider of Source-To-Pay Procurement Software Solutions</h5>

							<ul>
								Achievemnt/Task
								<li>=>Worked in core sustenance team.</li>
								<li>
									=>Detected vulnerabilities and code smells in code using the
									automatic code review tool SonarQube.
								</li>
								<li>
									=> Created and integrated RESTful API Using the Swagger tool.
								</li>
							</ul>
						</div>
					</div>
						<div class="item animate">
							<div class="service-box">
								<h3>Trainee Software Engineer</h3>
								<p>Zycus Infotech</p>
								<span>02/2021 - 06/2021</span><span>Bangalore</span>
								<h5>
									Provider of Source-To-Pay Procurement Software Solutions
								</h5>
								<ul>
									Achievemnt/Task
									<li>
										=>Get hands-on experience in CSS preprocessor, Angular,
										Bit-Bucket, Typescript, Jira, and salesforce.
									</li>
									<li>My major responsibility was to handle UI Bug tickets.</li>
									<li>Adopted Angular and other pakage Version upgrades.</li>
								</ul>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>