<!-- <div class="section-inner">
	<div class="row justify-content-center">
		<div class="col-md-7 wide-col-laptop">
			<div class="title-block animate" >
				<span>My Skills</span>
				<h2>What i’m good?</h2>
			</div>
			<div class="skills-row animate">
				<div class="row">
					<div class="col-md-8 offset-md-2">
						<div class="skill-item">
							<h6>HTML CSS</h6>
							<div class="skill-bar">
								<span>90%</span>
								<div class="filled-bar"></div>
							</div>
						</div>
						<div class="skill-item">
							<h6>JavaScript</h6>
							<div class="skill-bar">
								<span>80%</span>
								<div class="filled-bar-2"></div>
							</div>
						</div>
						<div class="skill-item">
							<h6>Angular</h6>
							<div class="skill-bar">
								<span>80%</span>
								<div class="filled-bar-2"></div>
							</div>
						</div>
						<div class="skill-item">
							<h6>Node, React</h6>
							<div class="skill-bar">
								<span>50%</span>
								<div class="filled-bar"></div>
							</div>
						</div>
						<div class="skill-item">
							<h6>Mongodb</h6>
							<div class="skill-bar">
								<span>60%</span>
								<div class="filled-bar-2"></div>
							</div>
						</div>
						<div class="skill-item">
							<h6>Python</h6>
							<div class="skill-bar">
								<span>60%</span>
								<div class="filled-bar-2"></div>
							</div>
						</div>
						<div class="skill-item">
							<h6>Git</h6>
							<div class="skill-bar">
								<span>90%</span>
								<div class="filled-bar-2"></div>
							</div>
						</div>
						<div class="skill-item">
							<h6>TypeScript</h6>
							<div class="skill-bar">
								<span>90%</span>
								<div class="filled-bar-2"></div>
							</div>
						</div>
						<div class="skill-item last-skill">
							<h6>Ms Office Basics</h6>
							<div class="skill-bar">
								<span>90%</span>
								<div class="filled-bar-2"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->


<section id="my-skills">
	<div class="container">
        <h1 class="text-center font-weight-bold">My Skills</h1>
        <!-- <section class="customer-logos slider">
            <div class="slide"><img src="/assets/images/adidas.png" alt="logo"></div>
            <div class="slide"><img src="/assets/images/facebook.png" alt="logo"></div>
            <div class="slide"><img src="/assets/images/google.png" alt="logo"></div>
            <div class="slide"><img src="/assets/images/instagram.png" alt="logo"></div>
            <div class="slide"><img src="/assets/images/nike.png" alt="logo"></div>
            <div class="slide"><img src="/assets/images/twitter.png" alt="logo"></div>
            <div class="slide"><img src="/assets/images/uber.png" alt="logo"></div>
            <div class="slide"><img src="/assets/images/youtube.png" alt="logo"></div>
        </section> -->
		<div class="skills-carousel">
			<div class="slider">
				<div class="slide-track">
					<div class="slide">
						<img src="/assets/images/Html.png" height="100" width="250" alt="" />
					</div>
					<div class="slide">
						<img src="/assets/images/Css.png" height="100" width="250" alt="" />
					</div>
					<div class="slide">
						<img src="/assets/images/Angular.png" height="100" width="250" alt="" />
					</div>
					<div class="slide">
						<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
					</div>
					<div class="slide">
						<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
					</div>
					<div class="slide">
						<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
					</div>
					<div class="slide">
						<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
					</div>
					<div class="slide">
						<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
					</div>
					<div class="slide">
						<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
					</div>
					<div class="slide">
						<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
					</div>
					<div class="slide">
						<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
					</div>
					<div class="slide">
						<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
					</div>
					<div class="slide">
						<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
					</div>
					<div class="slide">
						<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
					</div>
				</div>
			</div>

		</div>

		
    </div>
</section>
