<!-- <div class="section-inner">
	<div class="about-section">
		<div class="row justify-content-center">
			<div class="col-lg-8 wide-col-laptop">
				<div class="row">
					<div class="col-md-6">
						<div class="about-contentbox">
							<div class="animate">
								<span>About Me</span>
								<h2>Who am i?</h2>
								<p>Hello, I am Akhlaque, and I have completed my bachelor’s degree from A.K.T.
									University in September
									2020. I have worked on a wide variety of projects that have allowed me to put what
									I’ve learned in the
									classroom into use in a practical sense.
									My strengths are hard working, self motivating and dedicated towards
									my work. And also I'm a Quick learner.In my free time, I enjoy going
									out with friends. I also enjoy watching movies, Cycling, Web
									Surfing.</p>
							</div>
							<div class="facts-list owl-carousel">
								<div class="item animate">
									<div class="counter-box" data-toggle="modal" data-target="#modelId">
										<i class="fa fa-certificate counter-icon" aria-hidden="true"></i><span
											class="count-number">20</span>Certificates
									</div>
								</div>
								<div class="item animate">
									<div class="counter-box">
										<i class="fa fa-graduation-cap counter-icon" aria-hidden="true"></i><span
											class="count-number">1</span>
										Degrees
									</div>
								</div>
								<div class="item animate">
									<div class="counter-box">
										<i class="fa fa-trophy counter-icon" aria-hidden="true"></i><span
											class="count-number">2</span>
										Awards Won
									</div>
								</div>
								<div class="item animate">
									<div class="counter-box">
										<i class="fa fa-desktop counter-icon" aria-hidden="true"></i><span
											class="count-number">1.6</span>
										Working Years
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="col-md-6">
						<figure class="about-img animate"><img src="assets/images/Me.jpg" class="rounded" alt="Atts">
						</figure>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->



<section id="about">
	<div class="container">
		<h1 class="">About me</h1>
		<div class="about-left">
			<div class="skills-charts">
				<div id="myCanvasContainer">
					<canvas width="500" height="500" id="myCanvas">
						<ul id="tags">
							<li><a href="#" target="_blank">HTML</a></li>
							<li><a href="#" target="_blank">CSS</a></li>
							<li><a href="#" target="_blank">ES5</a></li>
							<li><a href="#" target="_blank">TypeScript</a></li>
							<li><a href="#" target="_blank">REST</a></li>
							<li><a href="#" target="_blank">JSON</a></li>
							<li><a href="#" target="_blank">GSAP</a></li>
							<li><a href="#" target="_blank">Data Science</a></li>
							<li><a href="#" target="_blank">Wordpress</a></li>
							<li><a href="#" target="_blank">PHP</a></li>
							<li><a href="#" target="_blank">Python</a></li>
							<li><a href="#" target="_blank">Node JS</a></li>
							<li><a href="#" target="_blank">Git</a></li>
							<li><a href="#" target="_blank">_lodash</a></li>
							<li><a href="#" target="_blank">SASS</a></li>
							<li><a href="#" target="_blank">JQuery</a></li>
							<li><a href="#" target="_blank">SQI</a></li>
							<li><a href="#" target="_blank">Gulp</a></li>
							<li><a href="#" target="_blank">npm</a></li>
							<li><a href="#" target="_blank">BEM</a></li>
						</ul>
					</canvas>
				</div>
			</div>


		</div>
		<div class="about-inner">
			
			<h2>Who am i?</h2>
			<p>Hello, I am Akhlaque, and I have completed my bachelor’s degree from A.K.T.
				University in September
				2020. I have worked on a wide variety of projects that have allowed me to put what
				I’ve learned in the
				classroom into use in a practical sense.
				My strengths are hard working, self motivating and dedicated towards
				my work. And also I'm a Quick learner.In my free time, I enjoy going
				out with friends. I also enjoy watching movies, Cycling, Web
				Surfing.</p>
			<div class="facts-list">
				<div class="list-box single-item init-animate zoomIn">
					<div class="counter-box">
						<i class="fa fa-certificate counter-icon" aria-hidden="true"></i><span
							class="count-number">20</span>
						<p>Certificates</p>
					</div>

				</div>
				<div class="list-box">
					<div class="counter-box">
						<i class="fa fa-graduation-cap counter-icon" aria-hidden="true"></i><span
							class="count-number">1</span>
						<p>Degrees</p>
					</div>

				</div>
				<div class="list-box">
					<div class="counter-box">
						<i class="fa fa-trophy counter-icon" aria-hidden="true"></i><span class="count-number">2</span>
						<p>Awards Won</p>

					</div>

				</div>


			</div>
		</div>
	</div>

</section>