<div class="section-inner">
	<div class="about-section">
		<div class="row justify-content-center">
			<div class="col-lg-8 wide-col-laptop">
				<div class="row">
					<div class="col-md-6">
						<div class="about-contentbox">
							<div class="animate" >
								<span>About Me</span>
								<h2>Who am i?</h2>
								<p>Hello, I am Akhlaque, and I have completed my bachelor’s degree from A.K.T. University in September
									2020. I have worked on a wide variety of projects that have allowed me to put what I’ve learned in the
									classroom into use in a practical sense.
									My strengths are hard working, self motivating and dedicated towards
									my work. And also I'm a Quick learner.In my free time, I enjoy going
									out with friends. I also enjoy watching movies, Cycling, Web
									Surfing.</p>
							</div>
							<div class="facts-list owl-carousel">
								<div class="item animate" >
									<div class="counter-box" data-toggle="modal" data-target="#modelId">
										<i class="fa fa-certificate counter-icon" aria-hidden="true"></i><span
											class="count-number">20</span>Certificates
									</div>
								</div>
								<div class="item animate" >
									<div class="counter-box">
										<i class="fa fa-graduation-cap counter-icon" aria-hidden="true"></i><span
											class="count-number">1</span>
										Degrees
									</div>
								</div>
								<div class="item animate" >
									<div class="counter-box">
										<i class="fa fa-trophy counter-icon" aria-hidden="true"></i><span class="count-number">2</span>
										Awards Won
									</div>
								</div>
								<div class="item animate" >
									<div class="counter-box">
										<i class="fa fa-desktop counter-icon" aria-hidden="true"></i><span class="count-number">1.6</span>
										Working Years
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="col-md-6">
						<figure class="about-img animate" ><img src="assets/images/Me.jpg" class="rounded"
								alt="Atts"></figure>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>