<section id="about">
	<div class="container">
		<h1 class="">About me</h1>
		<div class="about-left">
			<div class="skills-charts">
				<div id="myCanvasContainer">
					<canvas width="500" height="500" id="myCanvas">
						<ul id="tags" *ngFor="let skill of skills">
							<li><a href={{skill.docUrl}} target="_blank">{{skill.name}}</a></li>
						</ul>
					</canvas>
				</div>
			</div>
		</div>

		<div class="about-inner">
			<h2>Who am i?</h2>
			<p>Hello, I am Akhlaque, and I have completed my bachelor’s degree from A.K.T. University in September
				2020. I am an ambitious and hardworking person with a year and a half of experience in Angular, Node and
				Web technologies.
				In addition, I can manage multiple tasks and work under pressure. Recently I completed my Angular
				development, certifying for the Edureka e-learning platform and pursuing a Master's in Computer Science
				with a specialization in
				Software Engineering from Scaler.
				My strengths are hard working, self motivating and dedicated towards my work. Also I'm a Quick
				learner.In my free time, I enjoy going
				out with friends. I also enjoy watching movies, Cycling, Web Surfing.</p>
			<div class="facts-list">
				<div class="list-box single-item init-animate zoomIn">
					<div class="counter-box">
						<i class="fa fa-certificate counter-icon" aria-hidden="true"></i><span
							class="count-number">20</span>
						<p>Certificates</p>
					</div>
				</div>
				<div class="list-box">
					<div class="counter-box">
						<i class="fa fa-graduation-cap counter-icon" aria-hidden="true"></i><span
							class="count-number">1</span>
						<p>Degrees</p>
					</div>
				</div>
				<div class="list-box">
					<div class="counter-box">
						<i class="fa fa-trophy counter-icon" aria-hidden="true"></i><span class="count-number">2</span>
						<p>Awards Won</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>