
<div class="float-sm">
	<div class="fl-fl float-fb">
	  <i class="fa fa-facebook"></i>
	  <a href="https://m.facebook.com/akhlaque140999" target="_blank"> Follow me!</a>
	</div>
	<div class="fl-fl float-tw">
	  <i class="fa fa-twitter"></i>
	  <a href="https://twitter.com/iam_atts_" target="_blank">Follow me!</a>
	</div>
	<div class="fl-fl float-gp">
	  <i class="fa fa-youtube"></i>
	  <a href="https://www.youtube.com/channel/UCnSxC87V29fH64re0B8N4wA" target="_blank">Subscribe me!</a>
	</div>
	<div class="fl-fl float-rs">
	  <i class="fa fa-linkedin"></i>
	  <a href="https://www.linkedin.com/in/iam-atts/" target="_blank">Connect me!</a>
	</div>
	<div class="fl-fl float-ig">
	  <i class="fa fa-instagram"></i>
	  <a href="https://www.instagram.com/iam_atts_" target="_blank">Follow me!</a>
	</div>
	<div class="fl-fl float-ig">
		<i class="fa fa-github"></i>
		<a href="https://github.com/Akhlaquea01" target="_blank">Follow me!</a>
	  </div>
</div>

