<!-- <div class="text-right">
	<ul class="social-icons">
		<li><a href="https://m.facebook.com/akhlaque140999" title="Facebook"><i class="fa fa-facebook" target="_blank"
					style="color: rgb(23, 8, 233);"></i></a></li>
		<li><a href="https://twitter.com/iam_atts_" title="Twitter"><i class="fa fa-twitter" target="_blank"
					style="color: rgb(8, 124, 233);"></i></a></li>
		<li><a href="https://www.linkedin.com/in/iam-atts/" title="Linkedin"><i class="fa fa-linkedin" target="_blank"
					style="color: rgb(21, 211, 132);"></i></a></li>
		<li><a href="https://www.instagram.com/iam_atts_" title="Instagram"><i class="fa fa-instagram" target="_blank"
					style="color: rgb(233, 8, 120);"></i></a></li>
		<li><a href="https://www.youtube.com/channel/UCnSxC87V29fH64re0B8N4wA" title="Youtube" target="_blank"><i
					class="fa fa-youtube" style="color: rgb(233, 53, 8);"></i></a></li>
		<li><a href="https://github.com/Akhlaquea01" title="GitHub" target="_blank"><i class="fa fa-github"
					style="color: rgb(26, 45, 126);"></i></a></li>
	</ul>
</div> -->

<!-- <div class="social-icons">
	<div class="wrapper">
	<ul >
		<li><a href="https://m.facebook.com/akhlaque140999" title="Facebook"><i class="fa fa-facebook" target="_blank"
					style="color: rgb(23, 8, 233);"></i></a></li>
		<li><a href="https://twitter.com/iam_atts_" title="Twitter"><i class="fa fa-twitter" target="_blank"
					style="color: rgb(8, 124, 233);"></i></a></li>
		<li><a href="https://www.linkedin.com/in/iam-atts/" title="Linkedin"><i class="fa fa-linkedin" target="_blank"
					style="color: rgb(21, 211, 132);"></i></a></li>
		<li><a href="https://www.instagram.com/iam_atts_" title="Instagram"><i class="fa fa-instagram" target="_blank"
					style="color: rgb(233, 8, 120);"></i></a></li>
		<li><a href="https://www.youtube.com/channel/UCnSxC87V29fH64re0B8N4wA" title="Youtube" target="_blank"><i
					class="fa fa-youtube" style="color: rgb(233, 53, 8);"></i></a></li>
		<li><a href="https://github.com/Akhlaquea01" title="GitHub" target="_blank"><i class="fa fa-github"
					style="color: rgb(26, 45, 126);"></i></a></li>
	</ul>
</div>
</div> -->

<div class="float-sm">
	<div class="fl-fl float-fb">
	  <i class="fa fa-facebook"></i>
	  <a href="https://m.facebook.com/akhlaque140999" target="_blank"> Like us!</a>
	</div>
	<div class="fl-fl float-tw">
	  <i class="fa fa-twitter"></i>
	  <a href="https://twitter.com/iam_atts_" target="_blank">Follow us!</a>
	</div>
	<div class="fl-fl float-gp">
	  <i class="fa fa-youtube"></i>
	  <a href="https://www.youtube.com/channel/UCnSxC87V29fH64re0B8N4wA" target="_blank">Follow us!</a>
	</div>
	<div class="fl-fl float-rs">
	  <i class="fa fa-linkedin"></i>
	  <a href="https://www.linkedin.com/in/iam-atts/" target="_blank">Follow us!</a>
	</div>
	<div class="fl-fl float-ig">
	  <i class="fa fa-instagram"></i>
	  <a href="https://www.instagram.com/iam_atts_" target="_blank">Follow us!</a>
	</div>
	<div class="fl-fl float-ig">
		<i class="fa fa-github"></i>
		<a href="https://github.com/Akhlaquea01" target="_blank">Follow us!</a>
	  </div>
</div>	
	
