<!-- Header Section -->
<app-header></app-header>

<div>

	<!-- Home Page -->
	<app-home-section id="slide01"></app-home-section>

	<!-- About Section -->
	<app-about-section id="slide02"></app-about-section>

	<!-- Experience Section -->
	<app-experiance-section id="slide03"></app-experiance-section>

	<!-- Skills Section -->
	<app-my-skills id="slide04"></app-my-skills>

	<!-- Testimonials/Review -->
	<app-testimonials-section id="slide05"></app-testimonials-section>

	<!-- Personal Projects -->
	<app-my-work-section id="slide06"></app-my-work-section>

	<!-- Contacts and Feedback -->
	<app-contact-section id="slide07"></app-contact-section>

</div>

<!-- Social Media links -->
<app-social-section></app-social-section>