<!-- Header Section -->
<app-header></app-header>

<div>

	<!-- Home Page -->
	<app-home-section></app-home-section>

	<!-- About Section -->
	<app-about-section></app-about-section>

	<!-- Experience Section -->
	<app-experiance-section></app-experiance-section>

	<!-- Skills Section -->
	<app-my-skills></app-my-skills>

	<!-- Testimonials/Review -->
	<app-testimonials-section></app-testimonials-section>

	<!-- Personal Projects -->
	<app-my-work-section></app-my-work-section>

	<!-- Contacts and Feedback -->
	<app-contact-section></app-contact-section>

</div>

<!-- Social Media links -->
<app-social-section></app-social-section>