<div class="section-inner">
	<div class="welcome-box">
		<span class="welcome-first animate" >Hello, welcome to</span>
		<h1 class="welcome-title animate" >My portfolio</h1>
		<p class="animate" >This Website is Highly organized and detail-oriented Resume
			of a full stack developer having one year of experience as a Angular Developer that
			provide me an opportunity to prove myself and polish my skills through challenging tasks.
			Thank you!</p>
		<div class="scroll-down next-section animate" data-animate=" fadeInUp"><img src="assets/images/mouse-scroll.png"
				alt=""><span>Scroll Down</span></div>
	</div>
</div>