<section id="testimonail">
	<div class="container">
		<h1>Testimonial</h1>
		<swiper [slidesPerView]="count" [autoplay]="{ delay: 3000, disableOnInteraction: false }" [navigation]="false"
			[spaceBetween]="10" class="mySwiper">
			<ng-template data-swiper-autoplay="1000" swiperSlide *ngFor="let reviewr of testimonials">
				<div class="card swiper-slide">
					<div class="image-content">
						<span class="overlay"></span>
						<div class="card-image">
							<img src={{reviewr.imagePath}} alt={{reviewr.name}} class="card-img">
						</div>
					</div>
					<div class="card-content">
						<h2 class="name">{{reviewr.name}}</h2>
						<p class="description">{{reviewr.message}}</p>
					</div>
				</div>
			</ng-template>
		</swiper>
	</div>
</section>