<div class="section-inner">
	<div class="row justify-content-center">
		<div class="col-md-8 wide-col-laptop">
			<div class="title-block animate" data-animate="fadeInUp">
				<span>My Work</span>
				<h2>what i’ve done?</h2>
			</div>
			<div class="gallery-section">
				<div class="gallery-list owl-carousel">
					<div class="item animate" data-animate="fadeInUp">
						<div class="portfolio-item">
							<div class="thumb">
								<img src="assets/images/Time.png" alt="">
							</div>
							<div class="thumb-inner animate" data-animate="fadeInUp">
								<h4>Time Fetching</h4>
								<p>Website which shows current time and date of different
									locations.Created as project for Jquery.</p>
								<a href="https://github.com/Akhlaquea01/TimeSync" style="color: blueviolet;">Time-Sync</a>
							</div>
						</div>
					</div>
					<div class="item animate" data-animate="fadeInUp">
						<div class="portfolio-item">
							<div class="thumb">
								<img src="assets/images/ToDo's.PNG" alt="">
							</div>
							<div class="thumb-inner animate" data-animate="fadeInUp">
								<h4>Todo List</h4>
								<p>Website which add tasks in list and delete.Crested as project for JavaScript.</p>
								<a href="https://github.com/Akhlaquea01/ToDo-s-List" style="color: blueviolet;">ToDo's</a>
							</div>
						</div>
					</div>
					<div class="item animate" data-animate="fadeInUp">
						<div class="portfolio-item">
							<div class="thumb">
								<img src="assets/images/My Portfolio.png" alt="">
							</div>
							<div class="thumb-inner animate" data-animate="fadeInUp">
								<h4>My Portfolio</h4>
								<p>Website created to show my skills as well as to serve the purose of resume.</p>
								<a href="http://iam-atts.herokuapp.com/" style="color: blueviolet;">Profile</a>
							</div>
						</div>
					</div>
					<div class="item animate" data-animate="fadeInUp">
						<div class="portfolio-item">
							<div class="thumb">
								<img src="assets/images/Weather-app.png" alt="">
							</div>
							<div class="thumb-inner animate" data-animate="fadeInUp">
								<h4>Weather App</h4>
								<p>Website which fetch weather of given location .Crested as project for Node.</p>
								<a href="https://iamatts-weather.herokuapp.com/" style="color: blueviolet;">Weather</a>
							</div>
						</div>
					</div>
					<div class="item animate" data-animate="fadeInUp">
						<div class="portfolio-item">
							<div class="thumb">
								<img src="assets/images/Chat-app.png" alt="">
							</div>
							<div class="thumb-inner animate" data-animate="fadeInUp">
								<h4>Chat App</h4>
								<p>Website allow to chat in room.Created as project for Node.</p>
								<a href="http://chat-atts.herokuapp.com/" style="color: blueviolet;">Chat</a>
							</div>
						</div>
					</div>
					<div class="item animate" data-animate="fadeInUp">
						<div class="portfolio-item">
							<div class="thumb">
								<img src="assets/images/BookDB.png" alt="">
							</div>
							<div class="thumb-inner animate" data-animate="fadeInUp">
								<h4>BookStore db</h4>
								<p>Python BookStore database .Crested as project for Python.</p>
								<a href="https://github.com/Akhlaquea01/Book-Store" style="color: blueviolet;">BookStore</a>
							</div>
						</div>
					</div>
					<div class="item animate" data-animate="fadeInUp">
						<div class="portfolio-item">
							<div class="thumb">
								<img src="assets/images/Zonal.png" alt="">
							</div>
							<div class="thumb-inner animate" data-animate="fadeInUp">
								<h4>Zonal Fest (2019)</h4>
								<p>Official website for my university college fest hosted by my collge.</p>
								<a href="https://akhlaquea01.github.io/Zonal-Fest/" style="color: blueviolet;">Zonal-Fest</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>