.bar-title{
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background: #149ddd;

}
h1, a, h2, span, h3, strong{
  font-family: Roboto
}
section{
  margin-top: 100px;
  float:left;
  width: 100%;
}
p{
  color: var(--dark-two);
  font-family: Roboto;
}
h1{
  color: #666;
  font-size: 50px;
  font-weight: 600;
}
h2{
  color: #7248ff;
}
html{scroll-behavior: smooth;}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-radio-button.mat-accent .mat-radio-inner-circle{
  background-color: #149ddd!important;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color: #149ddd!important;
}
.mat-radio-outer-circle{
  border-color: white!important;
}
.container {
  width: 1260px;
  margin: 0 auto;
  max-width: 96%;
}
#header{
  padding: 0 !important;
}
.clear {
  clear: both;
}
.title {
  position: relative;
  display: inline-block;
  padding-bottom: 1rem;
  line-height: 1;
  font-size: 2.8rem;
  margin-bottom: 0.6rem;
}.title {
  position: relative;
  display: inline-block;
  padding-bottom: 1rem;
  line-height: 1;
  font-size: 2.8rem;
  margin-bottom: 0.6rem;
}
.title:after {
  content: "";
  position: absolute;
  width: 90px;
  height: 5px;
  border-radius: 3px;
  background: #748bf7;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
